mixin bannerList(name, des, icon)
  li 
    .banner-content__container  
      span
        i(class=icon)
      .banner-description 
        h5.fw-6= name
        p= des

mixin blockProduct(name, categories)
  .product__container-title
    .title
      i(class="fas fa-th-large")
      h4.fw-6= name
    .group-btn
      button
        i(class="fas fa-caret-left")
      button
        i(class="fas fa-caret-right")
    if categories
      .group-btn__categories 
        each category in buttonCategories
          button= category

mixin showSideBar(data)
  div(class="col-xs-12 col-sm-6 col-md-3 col-lg-3" id="side-bar__container-homepage")
    ul 
      each listItem in data
        if listItem.isActive 
          li.active(data-categories=listItem.data)
            .list-sidebar(data-categories=listItem.data) 
              span(data-categories=listItem.data) 
                i(class=listItem.icon data-categories=listItem.data)
              h5(data-categories=listItem.data)= listItem.name
        else          
          li(data-categories=listItem.data)
            .list-sidebar(data-categories=listItem.data) 
              span(data-categories=listItem.data) 
                i(class=listItem.icon data-categories=listItem.data)
              h5(data-categories=listItem.data)= listItem.name

mixin showSideBarProductPage(data)
  ul#side-bar__container
    each listItem in data
      if listItem.isActive 
        li.active(data-categories=listItem.data)
          .list-sidebar(data-categories=listItem.data)
            span(data-categories=listItem.data)
              i(class=listItem.icon data-categories=listItem.data)
            h5(data-categories=listItem.data)= listItem.name
      else          
        li(data-categories=listItem.data)
          .list-sidebar(data-categories=listItem.data) 
            span(data-categories=listItem.data) 
              i(class=listItem.icon data-categories=listItem.data)
            h5(data-categories=listItem.data)= listItem.name

mixin showSideBarSale(data)
  ul#side-bar-sale__container
    each listItem in data
      if listItem.isActive 
        li.active
          .list-sidebar 
            span 
              i(class=listItem.icon)
            h5= listItem.name
      else          
        li
          .list-sidebar 
            .list-sidebar__img 
              img(src=listItem.urlImg, alt="")
            .list-sidebar__content
              h5.fw-6= listItem.name
              span.price.fw-6.color-red= listItem.price

mixin showSideBarNew(data)
  ul#side-bar-new__container.mt-4
    each listItem in data
      if listItem.isActive 
        li.active
          .list-sidebar 
            span 
              i(class=listItem.icon)
            h5.fw-6= listItem.name
      else          
        li
          .list-sidebar
            h5.ml-4= listItem.name

mixin showSideBarLibImg(data)
  each listItem in data
    .list-sidebar 
      img.mt-4(src=listItem.name, alt="")

mixin showSideBarTags(data)
  each listItem in data
    if listItem.isActive 
      .list-sidebar 
        a.active.mt-2.mr-2(href="/")= listItem.name 
    else
      .list-sidebar 
        a.mt-2.mr-2(href="/")= listItem.name 
